<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <body>
        <!-- header -->
        <header class="header">
            <div class="navbar-top">
                <img class="img-logo" src="/img/logo-mercado-liebre.svg" alt="logo" class="img-header">
                <div class="search-bar" action="#" method="GET">
                    <input type="text" placeholder="Buscar productos, ofertas y mas!">
                    <div class="submit"><i class="fa fa-search"></i></div>
                </div>
                <div class="hand-holding-div">
                    <i class="fas fa-hand-holding-usd"></i>
                    <p>Compra en cuotas y sin tarjeta de credito</p>
                </div>
            </div>      
    
            <div class="navbar-bottom">
                <ul class="ul-nav-items">
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
                <span></span>
                <ul class="ul-nav-user">
                    <div>
                        <li><a href="/register">Crea tu cuenta</a></li>
                        <i class="fas fa-address-card"></i>
                    </div>
                    <div>
                        <li><a href="">Ingresa</a></li>
                        <i class="fas fa-sign-in-alt"></i>
                    </div>
                    <div>
                        <li><a href="">Mis compras</a></li>
                        <i class="fas fa-shopping-basket"></i>      
                    </div>
                </ul>
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
        </header>
        <img src="/img/img-home-banner.jpg" alt="">
        <br>
        <!-- forulario -->           
        <div class="formulario-main">
            <form action="" class="formulario-usuario">
                <div class="user-data">
                    <input type="text" placeholder="Nombre y Apellido">
                    <input type="text" placeholder="Nombre de usuario">
                    <input type="email" placeholder="Email">
                </div>
                <div class="user-birthday">
                    <label for="">Fecha de Nacimiento</label>
                    <input type="date">
                    <input type="text" placeholder="Domiciliio">      
                </div>
                <div>
                    <label for="">Perfil de usuario</label>
                    <input type="radio" name="perfil-de-usuario">Comprador 
                    <input type="radio" name="perfil-de-usuario">Vendedor
                </div>
            </form> 
        </div>  

        <!-- footer -->
        <footer class="footer">
            <div>
                <i class="fas fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!
                </p>
            </div>
            <br>
            <div>
                <i class="fas fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.
                </p>
            </div>
            <br>
            <div>
                <i class="fas fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                </p>
            </div>
            <br>
            <div>
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </div>
            <div>
                <a href="/test">pruebas</a>
            </div>
        </footer>
    </body>
</body>
</html>