/* Paleta de colores  ----------------------------------------------- */

/* Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a; */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
}

.header {
    background-color: #EAC926;
}

img {
    background-size: cover;
    width: 100%;
}

.hand-holding-div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.hand-holding-div p {
    font-size: 14px;
    margin-bottom: 15px;
}

/* Styling navbar items & header ----------------------------- */

.ul-nav-items li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.ul-nav-items {
    text-decoration: none;
    padding: 10px 0px 10px 0px;
}

.ul-nav-user li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.ul-nav-user {
    text-decoration: none;
}

.ul-nav-user {
    padding: 10px 0px 10px 0px;
}
.ul-nav-user div li a {
    text-decoration: none;
}

.ul-nav-user div {
    display: flex;
}

.img-logo {
    width: 40%;
    margin-left: 0;
    padding-left: 0;
    padding-top: 10px;
}
.search-bar {
    width: 40%; 
    display: flex; 
    margin-right: 25px; 
    padding-top: 10px;

}
.search-bar > input {   
    height: 40%;  
    width: 95%;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 7px;
}

.navbar-top {
    display: flex;    
    justify-content: space-evenly;
    align-items: center;
}

.submit {
    background-color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666;
    padding: 5px;
}
/* Mobile  */

.ul-nav-user {
    display: none;
}
.ul-nav-items  {
    display: none;
}

/* Styling burger menu ---------------------------- */

.burger-menu {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.burger-menu i {
    padding: 10px;
    border-radius: 5px;
    background-color: #1259c3;
    color: white;
}

/* Styling fonts ----------------------------------- */

h2 {
    font-size: 24px;
}

.price {
    padding-top: 10px;
    font-size: 18px;

}

.discount {
    font-size: 16px;
    color: #39b54a;
}

h5 {
    font-size: 16px;
}

p {
    font-size: 12px;
}


    
/* 
Styling main --------------------------- */

body {
    background-color: #ebebeb;
}

.single-product {
    margin-top: 10px;
}

.ultima-visita div {
    margin-bottom: 10px; 
}

.ultima-visita h2 {
    color: #666;
    padding: 10px;
    display: block;
    width: 100%;
    margin: auto;
}

.product-name {
    display: none;
    margin-left: 15px;
}

.ofertas h2 {
    color: #666;
    display: block;
    width: 100%;
    margin: auto;
}

.main {
    margin: auto;
    width: 90vw;
}

.product-description { 
    background-color: white;
}

.product-description h5 {    
    padding-bottom: 15px;
    color: #666;
}


.fa-truck {
    margin-top: 10px;
    border: 1px solid #39b54a;
    font-size: 20px;
    padding: 10px;
    border-radius: 100%;
    color: #39b54a;
    margin-left: 15px;
    margin-right: 15px;

}

.price-discount-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    padding-bottom: 7px;
}
.price-discount-container p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.price {
    width: 30%; 
    margin-left: 15px;   
    padding: 0;
}

.discount {
    width: 70%; 
    margin-right: 15px;   
}


/* Styling footer ------------------------------- */

.footer div {
    text-align: center;
    margin: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.footer div i {
    color: #1259c3;
    font-size: 2em;
    margin: 10px;
}

.footer div h3 {
    color: #666;
}

.footer div p {
    color: #666;
    font-weight: 400;
    font-size: 13px;
}


/* Tablet ------------------------ */


@media (min-width: 361px) {
    .product-name {
        display: block;
    }
    
    .single-product {
        box-shadow : 0px 0px 10px rgb( 100 , 100 , 100 );
        width: 40%;
        flex-wrap: wrap;
    }
    .ul-nav-user {
        display: block;
    }
    .ul-nav-items {
        display: block;
    }
    .burger-menu {
        display: none;
    }
    .ultima-visita  {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .ofertas {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

}

/* Desktop ----------------------- */


@media (min-width: 769px) {
    .navbar-top {        
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .img-logo {
        width: 17em;
        padding: 10px 15px;
    }
    .hand-holding-div {
        padding: 10px 15px;
    }
    .navbar-bottom {
        display: flex;
        justify-content: space-between;
    }
    .ul-nav-user div li a {
        text-decoration: none;
    }
    .single-product {
        width: 20%;
    }
}